In [14]:
# dependencies
import random
import pandas as pd
import requests
import json
import numpy as np
import glob
import json
import csv
import warnings

warnings.simplefilter("error")

In [15]:
#18
file1_pd_18 = pd.read_csv("JC-201801-citibike-tripdata.csv")
file2_pd_18 = pd.read_csv("JC-201802-citibike-tripdata.csv")
file3_pd_18 = pd.read_csv("JC-201803-citibike-tripdata.csv")
file4_pd_18 = pd.read_csv("JC-201804-citibike-tripdata.csv")
file5_pd_18 = pd.read_csv("JC-201805-citibike-tripdata.csv")
file6_pd_18 = pd.read_csv("JC-201806-citibike-tripdata.csv")
file7_pd_18 = pd.read_csv("JC-201807-citibike-tripdata.csv")
file8_pd_18 = pd.read_csv("JC-201808-citibike-tripdata.csv")
file9_pd_18 = pd.read_csv("JC-201809-citibike-tripdata.csv")
file10_pd_18 = pd.read_csv("JC-201810-citibike-tripdata.csv")
file11_pd_18 = pd.read_csv("JC-201811-citibike-tripdata.csv")
file12_pd_18 = pd.read_csv("JC-201812-citibike-tripdata.csv")
#19
file1_pd_19 = pd.read_csv("JC-201901-citibike-tripdata.csv")
file2_pd_19 = pd.read_csv("JC-201902-citibike-tripdata.csv")
file3_pd_19 = pd.read_csv("JC-201903-citibike-tripdata.csv")
file4_pd_19 = pd.read_csv("JC-201904-citibike-tripdata.csv")
file5_pd_19 = pd.read_csv("JC-201905-citibike-tripdata.csv")
file6_pd_19 = pd.read_csv("JC-201906-citibike-tripdata.csv")
file7_pd_19 = pd.read_csv("JC-201907-citibike-tripdata.csv")
file8_pd_19 = pd.read_csv("JC-201908-citibike-tripdata.csv")
file9_pd_19 = pd.read_csv("JC-201909-citibike-tripdata.csv")
file10_pd_19 = pd.read_csv("JC-201910-citibike-tripdata.csv")
file11_pd_19 = pd.read_csv("JC-201911-citibike-tripdata.csv")
file12_pd_19 = pd.read_csv("JC-201912-citibike-tripdata.csv")
#20
file1_pd_20 = pd.read_csv("JC-202001-citibike-tripdata.csv")
file2_pd_20 = pd.read_csv("JC-202002-citibike-tripdata.csv")
file3_pd_20 = pd.read_csv("JC-202003-citibike-tripdata.csv")
file4_pd_20 = pd.read_csv("JC-202004-citibike-tripdata.csv")
file5_pd_20 = pd.read_csv("JC-202005-citibike-tripdata.csv")
file6_pd_20 = pd.read_csv("JC-202006-citibike-tripdata.csv")
file7_pd_20 = pd.read_csv("JC-202007-citibike-tripdata.csv")
file8_pd_20 = pd.read_csv("JC-202008-citibike-tripdata.csv")
file9_pd_20 = pd.read_csv("JC-202009-citibike-tripdata.csv")
file10_pd_20 = pd.read_csv("JC-202010-citibike-tripdata.csv")
file11_pd_20 = pd.read_csv("JC-202011-citibike-tripdata.csv")
file12_pd_20 = pd.read_csv("JC-202012-citibike-tripdata.csv")

In [22]:
citibike_tripdata_2018 = pd.concat([file1_pd_18, file2_pd_18, file3_pd_18,file4_pd_18,file5_pd_18, file6_pd_18, file7_pd_18,file8_pd_18,file9_pd_18, file10_pd_18, file11_pd_18,file12_pd_18],axis=0)

In [23]:
citibike_tripdata_2018.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [24]:
citibike_tripdata_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [25]:
citibike_tripdata_2018_clean = citibike_tripdata_2018.dropna(axis=0).reset_index(drop=True)
citibike_tripdata_2018_clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [27]:
citibike_tripdata_2018_clean["birth year"] = citibike_tripdata_2018_clean["birth year"].astype(int)

In [28]:
citibike_tripdata_2018_clean.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [29]:
citibike_tripdata_2018_clean.to_csv("CitibikeTripdata2018.csv", index=False)

In [30]:
citibike_tripdata_2019 = pd.concat([file1_pd_19, file2_pd_19, file3_pd_19,file4_pd_19,file5_pd_19, file6_pd_19, file7_pd_19,file8_pd_19,file9_pd_19, file10_pd_19, file11_pd_19,file12_pd_19],axis=0)

In [31]:
citibike_tripdata_2019.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [32]:
citibike_tripdata_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [33]:
citibike_tripdata_2019_clean = citibike_tripdata_2019.dropna(axis=0).reset_index(drop=True)
citibike_tripdata_2019_clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [34]:
citibike_tripdata_2019_clean["birth year"] = citibike_tripdata_2019_clean["birth year"].astype(int)
citibike_tripdata_2019_clean.dtypes
citibike_tripdata_2019_clean.to_csv("CitibikeTripdata2019.csv", index=False)

In [35]:
citibike_tripdata_2020 = pd.concat([file1_pd_20, file2_pd_20, file3_pd_20,file4_pd_20,file5_pd_20, file6_pd_20, file7_pd_20,file8_pd_20,file9_pd_20, file10_pd_20, file11_pd_20, file12_pd_20],axis=0)

In [36]:
citibike_tripdata_2020.isnull().any()
citibike_tripdata_2020_clean = citibike_tripdata_2020.dropna(axis=0).reset_index(drop=True)

In [37]:
citibike_tripdata_2020_clean["birth year"] = citibike_tripdata_2020_clean["birth year"].astype(int)
citibike_tripdata_2020_clean.dtypes
citibike_tripdata_2020_clean.to_csv("CitibikeTripdata2020.csv", index=False)

In [39]:
# combine all citi bikeshare csv into one mega csv

# path = "data"
# all_files = glob.glob(path + "/*.csv")
# frame = pd.DataFrame()
# timeYr = []
# df=pd.read_csv(file_,index_col=None, header=0)

# for file_ in all_files:
#     df = pd.read_csv(file_,index_col=None, header=0)
#     timeYr.append(df)
# frame = pd.concat(timeYr)
# frame.to_csv("clean_csv_data.csv", index=False)

In [41]:
# # Script to merge several CSVs into one

# import glob
# import csv

# # Change delimiter to the appropriate one in CSV
delimiter = ';'

csvs = glob.glob('*.csv')

f = open('merged_data.csv', 'wb')
master_csv = csv.writer(f)

# # Take the header of the first CSV and make it the master header
first_csv = open(csvs[0], 'rb')
headers = first_csv.readline().strip().split(delimiter)
master_csv.writerow(headers)
# # Write remaining rows
for line in first_csv:
    master_csv.writerow(line.strip().split(delimiter))

# # Read remaining CSVs and skip the first row
for file in csvs[1:]:
    current_csv = open(file, 'rb')
    for line_num, line in enumerate(current_csv):
         if line_num > 0:
            master_csv.writerow(line.strip().split(delimiter))
            
f.close()

Exception ignored in: <_io.FileIO name='merged_data.csv' mode='wb' closefd=True>
Traceback (most recent call last):
  File "<ipython-input-41-768d65e6a1dc>", line 12, in <module>
ResourceWarning: unclosed file <_io.BufferedWriter name='merged_data.csv'>
Exception ignored in: <_io.FileIO name='JC-202010-citibike-tripdata.csv' mode='rb' closefd=True>
Traceback (most recent call last):
  File "<ipython-input-41-768d65e6a1dc>", line 15, in <module>
ResourceWarning: unclosed file <_io.BufferedReader name='JC-202010-citibike-tripdata.csv'>

TypeError: a bytes-like object is required, not 'str'

In [18]:
# df.columns

In [19]:
# df.head()

In [20]:
# df['Year'] = df["stoptime"].str[:4]
# df['Month'] = df['stoptime'].str[5:7]
# df['Date'] = df["stoptime"].str[:10]
# df['Time_Hr'] = df["stoptime"].str[11:13]
# df.head()

In [21]:
# df.columns